/.vs
/desktop.ini
/AConv/project.aps
/_Release_data/atari/tmp1.txt
/_Release_data/atari/tmp2.txt
/_Release_data/byte/tmp1.bin
/_Release_data/byte/tmp2.bin
/_Release_data/zx/tmp1.txt
/_Release_data/zx/tmp2.txt
/_Release_data/win/rd.txt
/_Release_data/win/tl.txt
/_Release_data/win/tmp1.txt
/_Release_data/win/tmp2.txt
/_Release_data/win/tu.txt
/_Release_data/amiga/tmp1.txt
/_Release_data/amiga/tmp2.txt
/Win32/
/x64/
/AConv/Win32/
/AConv/x64/
/git/revision.h
/git/revision.h.new
